.monitor {
	position: relative;

	.title {
		width: 127px;
		height: 15px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		position: absolute;
		left: 39px;
		top: 13px;
		text-align: center;
		line-height: 13px;
	}

	.line {
		position: absolute;
		left: 23px;
		top: 33px;
	}

	.name {
		color: #40b3ff;
		font-size: 14px;
	}

	.value {
		color: #ffc705;
		font-size: 24px;
		font-family: din;
	}

	.unit {
		color: #ffc705;
		font-size: 14px;
	}
}
