.layout {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-left: 3px;
	
	&::-webkit-scrollbar {
		width: 0;
	}

	:global {
		.ant-steps-item-title {
			color: #fff !important;
		}

		.ant-table-content {
			color: #fff;
		}

		.ant-table {
			background: none;
		}

		.ant-table-cell {
			background: none !important;
			color: #fff !important;
		}
	}
}
