.video_tree {
	color: #fff;
	background-color: rgba(0, 0, 0, 0);

	:global {
		.ant-tree-treenode {
			overflow: hidden;
		}
		.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
			white-space: nowrap;
		}
	}
}
